.navbar-brand {
    height: 58px;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 20px;
}

.navbar {
    li a {
        line-height: 30px;
    }
}

.navbar-right {
    .avatar-img {
        @include sizes(30px, 30px);
        margin-right: 8px;
    }
    .dropdown-menu li {
        a { padding-left: 14px; }
        i { margin-right: 8px; }
    }
    .dropdown-toggle {
        height: 58px;
    }
}
